* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 36px;
    min-height: 100vh;
    background-color: #000;
    display: grid;
    place-content: center;
    background-color: aquamarine;
}

h1, h2, p{
    color:azure;
    display: block;
    margin: auto;
}
